.movieinfo {
  display: flex;
  justify-content: space-around;

  margin: "10px 0 !important";
}
.movieinfo__poster {
  border-radius: 20px;
  box-shadow: 0.1rem 0.1em 0.5em rgb(64, 64, 70);
  width: 80%;
}
.movieinfo__genres {
  margin: 10px 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.movieinfo__category-link {
  font-size: 19px;
}
.movieinfo__category-link:hover {
  cursor: pointer;

  text-decoration: underline;
  transition: 0.3s;
}

.movieinfo__category-link::first-letter {
  text-transform: uppercase;
}
.movieinfo__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.movieinfo__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie__info-rating-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.movieinfo__actor-img {
  width: 100%;
  max-width: 7em;
  height: 8em;
  object-fit: cover;
  border-radius: 10px;
}
.movieinfo__actor-img:hover {
  transition: 0.3s;
  opacity: 0.8;
  cursor: pointer;
}
.movieinfo__button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.movieinfo__modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.movieinfo__iframe {
  max-width: 1200px;
  width: 100%;
  height: 500px;
}
@media screen and (max-width: 1200px) {
  .movieinfo__poster {
    display: block;
    margin: 0 auto;

    width: 50%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 660px) {
  .movieinfo {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .movieinfo__iframe {
    width: 90%;
    height: 90%;
  }
  .movieinfo__poster {
    margin: 0 auto;
    height: 350px;
    width: 100%;
    margin-bottom: 30px;
  }
  .movieinfo__link {
    padding: 0.5rem 1rem;
  }
  .movieinfo__button-container {
    flex-direction: column;
  }
  .movieinfo__rating {
    flex-direction: column;
  }
}
