.movielist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    margin-bottom: 20px;
    align-items: center;
}
.movielist__title {
    margin-bottom: 15px;
}
.movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 660px) {
    .movielist {
        justify-content: center;
    }
}
