.navbar__toolbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin-left: 240px;
}
.navbar {
  background-color: #1a1a1c !important;
  background-image: none !important;
}
.nav__drawer {
  width: 240px;
  flex-shrink: 0;
}
.navbar__login-button {
  background-color: red !important;
}
@media screen and (max-width: 600px) {
  .navbar__toolbar {
    margin-left: 0px;
  }
}
.nav__drawer-paper {
  width: 240px;
}
.navbar__profile-button:hover {
  color: white !important;
  text-decoration: none;
}
